<section class="container">
    <h1 class="form-title">Battle</h1>
    <ul>
      <li class="form-card" *ngFor="let character of charactersResponse; let i = index; let c = count">
          <h2 class="card-title">{{character.name}}</h2>
          <p class="card">Height: {{character.height}}</p>
          <p class="card">Mass: {{character.mass}}</p>
          <p class="card">Birth Year: {{character.birth_year}}</p>
          <p class="card">Films: {{character.films.length}}</p>
      </li>
    </ul>
    <ul>
      <mat-radio-group aria-labelledby="card-radio-group-label" class="card-radio-group" [(ngModel)]="attributePower">
        <mat-radio-button class="card-radio-button" *ngFor="let power of powers" [value]="power">
        {{power}}
        </mat-radio-button>
      </mat-radio-group>
    </ul>
    <ul>
      <button class="button" type="submit" (click)="getBattle()">Deal</button>
      <button class="button" type="submit" (click)="reloadCurrentPage()">Change Character</button>
    </ul>
    <ul>
      <div class = "winner" [hidden]="!winnerCharacter"> Winner: {{winnerCharacter}} </div>
      <div class = "error" [hidden]="!msg_error" class="alert alert-danger"> {{msg_error}} </div>
    </ul>
</section>


