.container{
  margin: 10%;
}
.form-title{
  font-family: cursive;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}
.card-title{
  font-family: cursive;
}
.form-card{
  font-family: monospace;
  display: inline-block;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.card{
  text-align: left;
}
ul{
  text-align: center;
  padding: 0;
  align-items: center;
}
.winner{
  font-family: sans-serif;
  color: green;
}
.error{
  font-family: sans-serif;
  color: red;
}
.card-radio-group{
  font-family: sans-serif;
  flex-direction: row;
  margin: 15px 0;
}
.card-radio-button {
  margin: 5px;
}

.button{
  font-family: sans-serif;
  width: 60%;
  background-color: silver;
  border: none;
  font-size: medium;
  border-radius: 8px;
  padding: 6px;
  margin: 0px 0px 10px 0px;
}
